.App {
  text-align: center;
  font-size: 14px;
  width: 75%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0 0 50px 10px #888888;

  h1 {
    font-size: 32px;
    font-family: "Noto Sans Mono", monospace;
  }

  .App-container {
    padding-top: 2.5vw;
    display: grid;
    align-content: center;
    height: 100%;
    // background-color: lightblue;
  }
}
