.App {
  text-align: center;
  font-size: 14px;
  width: 75%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
  border-radius: 15px;
  padding: 10px 10px 5vh 10px;
  box-shadow: 0 0 50px 10px #888888;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);

  h1 {
    font-size: 3.5rem;
    font-family: "Dancing Script", cursive;
  }

  button {
    font-family: "Noto Sans Mono", monospace;
    font-weight: bold;
    border: none;
  }

  a {
    font-weight: bold;
  }

  .App-container {
    padding-top: 2.5vw;
    display: grid;
    align-content: center;
    height: 100%;
  }
}
