.customLink {
  color: black;
  text-transform: uppercase;
  background: transparent;
  border: 0;
  border-bottom: 4px solid rgb(185, 185, 185);
  border-radius: 15px 15px 0 0;
  padding: 10px;
  transition: all 0.3s ease;
  text-decoration: none;
  font-family: "Noto Sans Mono", monospace;

  &:hover {
    background-color: rgb(185, 185, 185);
    box-shadow: 0 0 5px 1px #888888;
    border-radius: 15px;
    cursor: pointer;
    color: white;
    opacity: 0.8;
  }
}

.exPad {
  padding: 15px 20px;
}

.headerPad {
  padding: 10px 20px;
}

.headerMG {
  margin-left: 7rem;
}
