.homepage-container {
  .homepage-banner {
    width: 100%;
    height: 300px;
    margin-bottom: 2vw;
  }

  .homepage-tiles {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2vw;
  }
}
